.jumbotron {
  background-color: rgba(175, 35, 156, 0.747);
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.oficina {
  margin: 2px; }

.logo {
  padding-right: 10px; }

.btn {
  color: #c80502;
  background-color: black; }

.tarjet {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btnres {
  width: 100%;
  border-radius: 0em; }

footer {
  padding: 10px 10px 0 10px;
  background-color: rgba(175, 35, 156, 0.747);
  margin-top: 10px;
  margin-bottom: 0px; }
