$rojo: rgba(196, 21, 21, 0.747);
$amarillo: rgb(228, 225, 57);
$verde: rgba(7, 187, 112, 0.747);

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $rojo;
    color: black;
    @include margenes(50px, 0px);
}

.oficina {
    margin: 2px;
}

.logo {
    padding-right: 10px;
}

.btn {
    color: #c80502;
    background-color: $amarillo;
}

.tarjet {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
}

.btnres {
    width: 100%;
    border-radius: 0em;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $verde;
    @include margenes(10px, 0px);
}